In [1]:
uno = [5, 6, 7, 16]
dos = [3, 6, 10, 10]

In [6]:
solve(uno, dos)

     0
3    5
6    6
10   7
10  16

In [78]:
import pandas as pd
import numpy as np

def np_solve(a, b):
    na = np.array(a)
    nb = np.array(b)
    return ((na > nb).sum(), (na < nb).sum())

def pandas_solve(a, b):
    df = pd.DataFrame({'a' : a, 'b' : b})
    return (df.apply(lambda x: x.a > x.b, axis = 1).sum(), 
            df.apply(lambda x: x.a < x.b, axis = 1).sum())

In [77]:
pandas_solve(uno, dos)

(2, 1)

In [18]:
df = pd.DataFrame({'a': uno, 'b' : dos})

In [19]:
df

    a   b
0   5   3
1   6   6
2   7  10
3  16  10

In [48]:
df['c'] = df.apply(lambda x: x[0], axis = 0)

In [49]:
df

    a   b    c      d
0   5   3  NaN  False
1   6   6  NaN  False
2   7  10  NaN   True
3  16  10  NaN  False

2

In [65]:
df

    a   b      c      d
0   5   3   True  False
1   6   6  False  False
2   7  10  False   True
3  16  10   True  False